{% extends 'base.html' %}
{% block title %}Последние обновления на сайте{% endblock %}
{% block content %}
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>First Name</th>
        <th>Last Name</th>
      </tr>
    </thead>
    {% for obj in page_obj %}
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>{{ obj.username }}</td>
        <td>{{ obj.username }}</td>
      </tr>
    </tbody>
    {% endfor %}
  </table>
  <div class="w-100 p-3 container py-5shadow-sm p-3 mb-5 bg-light rounded" style="background-color: #eee;">
    {% for obj in page_obj %}
      Сегодня день рождения у:  <span >{{ obj.username }}</span>
    {% endfor %}
  </div>
  <div class="container-fluid">
    <p class="text-center">AS of {{ time }}</p>
  </div>
  <div class="card">
    <div class="card-body text-center bg-light">
      <p class="text-center">
        {{ cal |safe }}
      </p>
    </div>
  </div>
{% endblock %}
